<div class="experience-details-container">
  <div class="about-containers">
    <div class="details-container">
      <h2 class="experience-sub-title">Backend Development</h2>
      <div class="article-container">
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Go</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Docker</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>GCP</h3>
            <p>Intermediate</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>SQL</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Postgres</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Gorm</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            src="./assets/checkmark.png"
            alt="Experience icon"
            class="icon"
          />
          <div>
            <h3>Supabase</h3>
            <p>Experienced</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
