<footer>
  <nav>
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a href="#navnamv">Profile</a></li>
        <li><a href="#experience">Experience</a></li>
      </ul>
    </div>
  </nav>
  <p>Copyright &#169; 2024 Ivan Kostetskyi. All Rights Reserved.</p>
</footer>
